* text=auto eol=lf
*.py text eol=lf encoding=UTF-8
*.md text eol=lf encoding=UTF-8
*.yaml text eol=lf encoding=UTF-8
*.yml text eol=lf encoding=UTF-8
*.sh text eol=lf encoding=UTF-8
*.html text eol=lf encoding=UTF-8
*.css text eol=lf encoding=UTF-8
*.js text eol=lf encoding=UTF-8
*.json text eol=lf encoding=UTF-8
*.toml text eol=lf encoding=UTF-8
