# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log
logs/

# Local data
data/
config/*.json
config/eyegaze_calibration.json
*.pt
*.pth
*.onnx

# Vosk models (download at runtime)
models/

# macOS
.DS_Store

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# pip install -e .
*.so
